[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
pytest = "*"
restructuredtext-lint = "*"
sphinx-rtd-theme = "*"
sphinx = "*"
sphinx-autobuild = "*"
recommonmark = "*"

[requires]
python_version = "3.6"
