[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
pytest = ">=3.9.3"
restructuredtext-lint = ">=1.1.3"
sphinx-rtd-theme = ">=0.4.1"
sphinx = ">=1.8.1"
sphinx-autobuild = ">=0.7.1"
recommonmark = ">=0.4.0"
"m2r" = ">=0.2"

[requires]
python_version = ">=3.6"
